In [1]:
from pathlib import Path
import pandas as pd
from datetime import timedelta
import requests
import yfinance as yf
import numpy as np

In [4]:
ipo_csv = pd.read_csv('IpoScoop.csv')
filtered_ipo=ipo_csv.drop(columns=["1st Day Close"])
filtered_ipo.head()

,Company,Symbol,Industry,Offer Date,Shares (millions),Offer Price,Current Price,Return
0,JE Cleantech Holdings Limited,JCSE,Industrials,4/22/2022,3.8,$4.00,$19.00,375.00%
1,"Applied Blockchain, Inc.",APLD,Technology,4/13/2022,8.0,$5.00,$4.02,-19.60%
2,"Excelerate Energy, Inc.",EE,Oil & Gas,4/13/2022,16.0,$24.00,$24.20,0.83%
3,Genius Group Limited,GNS,Consumer Services,4/12/2022,3.3,$6.00,$6.23,3.83%
4,Expion360 Inc.,XPON,Industrials,4/1/2022,2.2,$7.00,$4.15,-40.71%

In [3]:
filtered_ipo=ipo_csv.drop(columns=["1st Day Close"])
filtered_ipo.set_index("Symbol")
filtered_ipo["Offer Date"] =filtered_ipo.to_datetime(filtered_ipo["Offer Date"])
ten_days = pd.to_timedelta(10,'days')
three_months = pd.to_timedelta(84,'days')
hundred_days = pd.to_timedelta(100,'days')
filtered_ipo['T-10Days'] = filtered_ipo['Offer Date']-ten_days
filtered_ipo['T-90Days'] = filtered_ipo['Offer Date']-three_months
filtered_ipo['T+100Days'] = filtered_ipo['Offer Date']+hundred_days

AttributeError: 'DataFrame' object has no attribute 'to_datetime'

In [ ]:
filtered_ipo['T-10Days'] = filtered_ipo['T-10Days'].astype(str)
filtered_ipo['T-90Days'] = filtered_ipo['T-90Days'].astype(str)
filtered_ipo['T+100Days'] = filtered_ipo['T+100Days'].astype(str)